<h1>Login</h1>

<% form_tag url(:sessions, :create) do %>
  <% if error %>
    <div class="alert alert-error">
      <h4>Error</h4>
      Your Email and/or Password is wrong!
    </div>
  <% end %>

  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <label class="checkbox">
    <%= check_box_tag :remember_me %> Remember me
  </label>

  <p>
    <%= link_to 'forget password?', url(:password_forget, :new) %>
  </p>

  <p>
    <%= submit_tag "Sign up", :class => "btn btn-primary" %>
  </p>
<% end %>

New? <%= link_to 'Register', url(:users, :new) %>

