<h1>Login</h1>

<% form_tag url(:sessions, :create) do %>
  <% if error %>
    <article class="message is-danger">
      <div class="message-header">
        <p>Error - Your Email and/or Password is wrong!</p>
      </div>
    </article>
  <% end %>

  <div class="field">
    <%= label_tag :email, :class => 'label' %>
    <div class="control">
      <%= text_field_tag :email, :class => 'input' %>
    </div>
  </div>

  <div class="field">
    <%= label_tag :password, :class => 'label' %>
    <div class="control">
      <%= password_field_tag :password, :class => 'input' %>
    </div>
  </div>

  <div class="field">
    <label class="checkbox">
      <%= check_box_tag :remember_me, :class => 'checkbox' %> Remember me
    </label>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag "Sign up", :class => "button is-large is-link" %>
    </div>
  </div>

  <p>
  <%= link_to 'forget password?', url(:password_forget, :new) %>
  </p>
<% end %>

New? <%= link_to 'Register', url(:users, :new) %>

