<h1>Login</h1>

<% form_tag '/sessions/create' do %>

  <%= label_tag :email %>
  <%= text_field_tag :email %>

  <%= label_tag :password %>
  <%= password_field_tag :password %>

  <%= submit_tag "Sign up" %>
<% end %>

New on this platform? <%= link_to 'Register', url_for(:users, :new) %>

