<h2>Reset Password</h2>

<% form_for @user, "/password_forget/#{@user.password_reset_token}", method: :post do |f| %>
  <div class="field">
    <%= f.label :password, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password, :class => 'input' %>
    </div>
    <%= error_message_on @user, :password, class: "has-background-danger", prepend: "The password"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, :class => 'input' %>
    </div>
    <%= error_message_on @user, :password_confirmation, class: "has-background-danger", prepend: "The password confirmation"%>
  </div>

  <div class="field">
    <div class="control">
      <%= submit_tag "Reset password", class: "button is-large is-link" %>
    </div>
  </div>
<% end %>

