<h2>Reset Password</h2>

<% form_for @user, "/password_forget/#{@user.password_reset_token}", method: :post do |f| %>
  <%= f.label :password %>
  <%= f.password_field :password %>
  <%= error_message_on @user, :password, class: "text-error", prepend: "The password "%>

  <%= f.label :password_confirmation %>
  <%= f.password_field :password_confirmation %>

  <p>
    <%= f.submit "Reset password", class: "btn btn-primary" %>
  </p>

<% end %>

