<h2>Edit your profile</h2>

<% form_for @user, url(:users, :update, id: @user.id), method: :put do |f| %>
  <div class="field">
    <%= f.label :name, :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input' %>
    </div>
    <%= error_message_on @user, :name, class: "has-background-error", prepend: "The name" %>
  </div>

  <div class="field">
    <%= f.label :email, :class => 'label' %>
    <div class="control">
      <%= f.text_field :email, :class => 'input' %>
    </div>
    <%= error_message_on @user, :email, class: "has-background-error", prepend: "The email" %>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password, :class => 'input' %>
    </div>
    <%= error_message_on @user, :password, class: "has-background-error", prepend: "The password "%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, :class => 'input' %>
    </div>
    <%= error_message_on @user, :password_confirmation, class: "has-background-error", :prepend => "The password confirmation" %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Save changes", :class => "button is-large is-link" %>
    </div>
  </div>
<% end %>

