<h1>Registration</h1>

If you are new to our platform please fill out the following form:

<% form_for(@user, '/users/create') do |f| %>

  <div class="field">
    <%= f.label :name, :class => 'label' %>
    <div class="control">
      <%= f.text_field :name, :class => 'input' %>
    </div>
    <%= error_message_on :user, :name, :class => "has-background-danger", :prepend => "The name" %>
  </div>

  <div class="field">
    <%= f.label :email, :class => 'label' %>
    <div class="control">
      <%= f.text_field :email, :class => 'input' %>
    </div>
    <%= error_message_on :user, :email, :class => "has-background-danger", :prepend => "The email" %>
  </div>

  <div class="field">
    <%= f.label :password, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password, :class => 'input' %>
    </div>
    <%= error_message_on :user, :password, :class => "has-background-danger", :prepend => "The password"%>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, :class => 'label' %>
    <div class="control">
      <%= f.password_field :password_confirmation, :class => 'input' %>
    </div>
    <%= error_message_on :user, :password_confirmation, :class => "has-background-danger", :prepend => "The password confirmation" %>
  </div>

  <div class="field">
    <div class="control">
      <%= f.submit "Create", :class => "button is-large is-link" %>
    </div>
  </div>
<% end %>

