<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Job Vacancy - find the best jobs</title>
  <%= stylesheet_link_tag '/assets/application' %>
  <%= javascript_include_tag '/assets/application' %>
</head>
<body>
  <div class="container">
    <% if !flash.empty? %>
      <div class="row" id="flash">
        <% if flash.key?(:notice) %>
        <div class="span6 offset3 alert alert-success">
          <%= flash[:notice] %>
        </div>
        <% elsif flash.key?(:error) %>
        <div class="span9 offset3 alert alert-error">
          <%= flash[:error] %>
        </div>
        <% end %>
        <script type="text/javascript">
          $(function(){
              $("#flash").fadeOut(2000);
          });
        </script>
      </div>
    <% end %>
    <div class="row">
      <div class="span12 offset2">
        <span id="header">Job Vacancy Board</span>
      </div>
      <div class="row">
        <nav id="navigation">
          <div class="span2 offset2">
            <%= link_to 'Home', url(:pages, :home) %>
          </div>
          <div class="span2">
            <%= link_to 'About', url(:pages, :about) %>
          </div>
          <div class="span2">
            <%= link_to 'Contact', url(:pages, :contact) %>
          </div>
          <% if signed_in? %>
            <div class="span2">
              <%= link_to 'Logout', url(:sessions, :destroy, :authenticity_token => session[:csrf]), :method => :delete %>
            </div>
            <div class="span2">
              <%= link_to 'Edit Profile', url(:users, :edit, id: session[:current_user]) %>
            </div>
            <!--
            <li class="dropdown">
              <a class="dropdown-toggle" id="drop4" role="button" data-toggle="dropdown" href="#">User Actions<b class="caret"></b></a>
              <ul id="menu1" class="dropdown-menu" role="menu" aria-labelledby="drop4">
                <li role="presentation"><a tabindex="-1" href="#">View Profile</a></li>
                <li role="presentation"> <%= link_to 'Edit Profile', url(:users, :edit, :id => session[:current_user]), :tabindex => '-1' %></li>
                <li role="presentation"><a tabindex="-1" href="#">My Job Offers</a></li>
                <li role="presentation"><a tabindex="-1" href="#">Add New Job Offer</a></li>
                <li role="presentation" class="divider"></li>
                <li role="presentation"><%= link_to 'Logout', url(:sessions, :destroy, :authenticity_token=>session[:csrf]), :method => :delete %></li>
              </ul>
            </li>
            -->
          <% else %>
            <div class="span3">
              <%= link_to 'Login', url(:sessions, :new) %>
            </div>
          <% end %>
        </nav>
      </div>
      <div class="row">
        <div class="span9 offset3 site">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
