<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Job Vacancy - find the best jobs</title>
  <%= stylesheet_link_tag '../assets/application' %>
  <%= javascript_include_tag '../assets/application' %>
</head>
<body>
  <div class=="container">
    <div class="row">
      <div class="span12 offset3">
        <span id="header">Job Vacancy Board</span>
      </div>
      <div class="row">
        <nav id="navigation">
        <div class="span2 offset4">
          <%= link_to 'Home', url_for(:page, :home) %>
        </div>
        <div class="span2">
          <%= link_to 'About', url_for(:page, :about) %>
        </div>
        <div class="span2">
          <%= link_to 'Contact', url_for(:page, :contact) %>
        </div>
        </nav>
      </div>
      <div class="row">
        <div class="span9 offset3 site">
          <%= yield %>
        </div>
      </div>
    </div>
  </div>
</body>
