<!DOCTYPE html>
<html lang="en-US">
<head>
  <title>Job Vacancy - find the best jobs</title>
  <%= stylesheet_link_tag 'bulma.css', 'site.css' %>
  <%= javascript_include_tag 'jquery.js', 'burger_navigation' %>
</head>
<body>
  <nav class="navbar">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="/">Job Vacancy</a>
        <span class="navbar-burger burger" data-target="navbarMenu">
          <span></span>
          <span></span>
          <span></span>
        </span>
      </div>
      <div id="navbarMenu" class="navbar-menu">
        <div class="navbar-end">
          <div class="tabs is-right">
            <ul>
              <li>
                <%= link_to 'Home', url(:pages, :home) %>
              </li>
              <li>
                <%= link_to 'About', url(:pages, :about) %>
              </li>
              <li>
                <%= link_to 'Contact', url(:pages, :contact) %>
              </li>
              <% if signed_in? %>
              <li>
                <%= link_to 'Logout', url(:sessions, :destroy, :authenticity_token => session[:csrf]), :method => :delete %>
              </li>
              <li>
                <%= link_to 'New Job', url(:job_offers, :new) %>
              </li>
              <li>
                <%= link_to 'My Jobs', url(:job_offers, :mylist) %>
              </li>
              <li>
                <% if session[:current_user] %>
                  <%= link_to 'Edit Profile', url(:users, :edit, id: session[:current_user]) %>
              <% end %>
              </li>
            <% else %>
              <li>
                <%= link_to 'Login', url(:sessions, :new) %>
              </li>
            <% end %>
            </ul>
          </div>
        </div>
      </div>
    </div>
  </nav>
  <div class="container">
    <% if !flash.empty? %>
      <% if flash.key?(:notice) %>
        <article class="message is-success" id="flash">
          <div class="message-header">
            <%= flash[:notice] %>
            <%= flash[:error] %>
          </div>
        </article>
        <script type="text/javascript">
          $(function(){
              $("#flash").fadeOut(3000);
          });
        </script>
      <% end %>
    <% end %>

    <%= yield %>
  </div>
</body>

